VITE_REACT_APP_FETCH_BASE=https://{{ BACKEND SERVER LOCATION }}
VITE_REACT_APP_DISCORD_LOGIN_URL=https://discord.com/api/oauth2/authorize?client_id={{ YOUR CLIENT ID }}&redirect_uri=https%3A%2F%2F{{ FRONTEND SERVER LOCATION }}%2Flogin&response_type=token&scope=identify
